Handle API rate limit

              hello @andrew2net i have rerun the document generate today but the issue still persists however the number of unreachable entries seems to have decreased. i wonder why they are not reaching the server?

```
2024-05-30T11:34:58.3096511Z [relaton] ERROR: `doi:10.1111/ips.12026_1` -- unexpected token at '<html>
2024-05-30T11:34:58.3098081Z <head><title>504 Gateway Time-out</title></head>
2024-05-30T11:34:58.3126326Z <body>
2024-05-30T11:34:58.3126975Z <center><h1>504 Gateway Time-out</h1></center>
2024-05-30T11:34:58.3127597Z </body>
2024-05-30T11:34:58.3127967Z </html>
2024-05-30T11:34:58.3128356Z '
2024-05-30T11:34:58.3128851Z [relaton-doi] (doi:10.1145/3425898.3426958) Fetching from search.crossref.org ...
2024-05-30T11:35:05.0569180Z [relaton-doi] (doi:10.1145/3425898.3426958) Found: `10.1145/3425898.3426958`
2024-05-30T11:36:05.1556862Z [relaton] ERROR: `doi:10.1145/3425898.3426958` -- unexpected token at '<html>
2024-05-30T11:36:05.1558747Z <head><title>504 Gateway Time-out</title></head>
2024-05-30T11:36:05.1608365Z <body>
2024-05-30T11:36:05.1609054Z <center><h1>504 Gateway Time-out</h1></center>
2024-05-30T11:36:05.1609715Z </body>
2024-05-30T11:36:05.1610110Z </html>
2024-05-30T11:36:05.1610536Z '
2024-05-30T11:36:05.1611341Z [relaton-doi] (doi:10.1111/psj.12212) Fetching from search.crossref.org ...
2024-05-30T11:36:13.1994063Z [relaton-doi] (doi:10.1111/psj.12212) Found: `10.1111/psj.12212`
2024-05-30T11:37:13.3203786Z [relaton] ERROR: `doi:10.1111/psj.12212` -- unexpected token at '<html>
2024-05-30T11:37:13.3205349Z <head><title>504 Gateway Time-out</title></head>
2024-05-30T11:37:13.3234983Z <body>
2024-05-30T11:37:13.3235804Z <center><h1>504 Gateway Time-out</h1></center>
2024-05-30T11:37:13.3236458Z </body>
2024-05-30T11:37:13.3236845Z </html>
2024-05-30T11:37:13.3237467Z '
2024-05-30T11:37:13.3238094Z [relaton-doi] (doi:10.1177/26339137231222481) Fetching from search.crossref.org ...
2024-05-30T11:37:15.4186069Z [relaton-doi] (doi:10.1177/26339137231222481) Found: `10.1177/26339137231222481`
2024-05-30T11:38:15.6547511Z [relaton] ERROR: `doi:10.1177/26339137231222481` -- unexpected token at '<html>
2024-05-30T11:38:15.6548882Z <head><title>504 Gateway Time-out</title></head>
2024-05-30T11:38:15.6549745Z <body>
2024-05-30T11:38:15.6550454Z <center><h1>504 Gateway Time-out</h1></center>
2024-05-30T11:38:15.6551222Z </body>
2024-05-30T11:38:15.6551756Z </html>
2024-05-30T11:38:15.6552373Z '
2024-05-30T11:38:15.6553372Z [relaton-doi] (doi:10.1007/978-3-031-01584-7) Fetching from search.crossref.org ...
2024-05-30T11:38:27.6612589Z [relaton-doi] (doi:10.1007/978-3-031-01584-7) Found: `10.1007/978-3-031-01584-7`
2024-05-30T11:39:21.7247801Z [relaton-doi] (doi:10.1080/19460171.2014.957056) Fetching from search.crossref.org ...
2024-05-30T11:39:22.3553079Z [relaton-doi] (doi:10.1080/19460171.2014.957056) Found: `10.1080/19460171.2014.957056`
2024-05-30T11:40:20.9806824Z [relaton-doi] (doi:10.1038/s41893-021-00707-5) Fetching from search.crossref.org ...
2024-05-30T11:40:40.8723479Z [relaton-doi] (doi:10.1038/s41893-021-00707-5) Found: `10.1038/s41893-021-00707-5`
2024-05-30T11:41:41.1328409Z [relaton] ERROR: `doi:10.1038/s41893-021-00707-5` -- Net::ReadTimeout with #<TCPSocket:(closed)>

when they are missing the bibliography the errors are populated throughout the document. please advise how to deal with this. thank you.
```

_Originally posted by @ReesePlews in https://github.com/relaton/relaton-iso/issues/166#issuecomment-2139411099_
            

thank you @andrew2net 

> @ReesePlews I understand that you are using Metanorma. Metanorma uses Relaton to fetch many documents in parallel. If you don't have the error fetching a single document, then the error is induced by the API's rate limit.

right now the structure of the bibliography adoc file is in blocks, so the DOI autofetch entries are all sequential in one block. if i was to restructure the bib file, for example alphabetically, then they would most likely be intermixed, do you think that would be a helpful workaround for this issue?


@ReesePlews Metanorma uses Relaton to fetch many documents in parallel but the [crossref API](https://www.crossref.org/documentation/retrieve-metadata/rest-api/tips-for-using-the-crossref-rest-api/) has rate limit. This induces the timeout error.

Metanorma fetches references by group. So, until the relaton-doi is fixed, you can try to divide references into smaller groups.

It seems the API is overloaded these days https://status.crossref.org/?utm_source=embed

Perhaps we should switch to the "Content negotiation API", it seems more stable:
* https://www.crossref.org/documentation/retrieve-metadata/content-negotiation/
<img width="907" alt="Screenshot 2024-05-31 at 11 14 29 AM" src="https://github.com/relaton/relaton-doi/assets/11865/c8a85dd1-88ae-4dfa-9cf4-7309ac9741a2">


thank you @andrew2net i see that mentioned now on the crossref api site with the link you provided.

maybe we need to create our own relaton cache register, that only metanorma accesses. all references encountered by any relaton process would go into the cache register.  they would be checked by relaton as used for future content embedding. there would be a process on the cache register that would randomly check the cached entries for changes and would then update.  since the generate of a document and the cache register are different processes the document processing time could be reduced.  but i dont know if that would work... and i am sure you have already been thinking about these things before...

thank you for your diligent work. the metanorma tool suite is becoming indispensable.

@ReesePlews Relaton saves fetched docs to a local cache on a user's computer. So if you continue trying to build the bibliography you'll have all the docs in your local cache sooner or later.

@andrew2net thank you for the information. normally the build takes place on github, using the docker instance. what happens in those cases with the relaton cache?

@ReesePlews I don't know how the docker instance configure but it looks like the cache isn't saved between sessions.
I released the `relaton-doi` v1.18.1 that should solve the issue. But I'm not sure if docker container can update gem versions automatically.
@ronaldtse can you help with updating GemFile in the docker image?

thank you @andrew2net i look forward to trying that after it is incorporated into the docker release cycle.

@ReesePlews found bug in v1.18.1, fixed in v1.18.2

@ReesePlews do you have any success fetching the documents?

hello @andrew2net everything has been working well over the past releases. thank you!

in that project which i submitted this issue about, we are generating on github using the following:

```
Run metanorma --version
Metanorma 2.0.3
Metanorma::Cli 1.10.3
Metanorma::Standoc 2.9.1/IsoDoc 2.10.6
Metanorma::ISO 2.8.1
Metanorma::Iec 2.4.12
Metanorma::IEEE 1.2.12
```

i am not seeing any issues (when i check the log, and the render of the document looks good)

```
[relaton-iso] INFO: (ISO/IEC 30141:2018) Found: `ISO/IEC 30141:2018`
[relaton-iso] INFO: (ISO/IEC/IEEE 21451-1:2010) Fetching from Relaton repository ...
[relaton-iso] INFO: (ISO/IEC/IEEE 21451-1:2010) Found: `ISO/IEC/IEEE 21451-1:2010`
[relaton-iso] INFO: (ISO/IEC/IEEE 24765:2017) Fetching from Relaton repository ...
[relaton-iso] INFO: (ISO/IEC/IEEE 24765:2017) Found: `ISO/IEC/IEEE 24765:2017`
[relaton-iso] INFO: (ISO/IEC/IEEE 42010:2022) Fetching from Relaton repository ...
[relaton-iso] INFO: (ISO/IEC/IEEE 42010:2022) Found: `ISO/IEC/IEEE 42010:2022`
[relaton-ogc] INFO: (OGC 20-010) Fetching from Relaton repository ...
[relaton-ogc] INFO: (OGC 20-010) Found: `20-010`
[relaton-ogc] INFO: (OGC 07-036) Fetching from Relaton repository ...
[relaton-ogc] INFO: (OGC 07-036) Found: `07-036`
[relaton-ogc] INFO: (OGC 18-005r4) Fetching from Relaton repository ...
[relaton-ogc] INFO: (OGC 18-005r4) Found: `18-005r4`
[relaton-w3c] INFO: (W3C shacl) Fetching from Relaton repository ...
[relaton-w3c] INFO: (W3C shacl) Found: `W3C shacl`
[relaton-w3c] INFO: (W3C sparql11-overview) Fetching from Relaton repository ...
[relaton-w3c] INFO: (W3C sparql11-overview) Found: `W3C sparql11-overview`
[relaton-w3c] INFO: (W3C skos-reference) Fetching from Relaton repository ...
[relaton-w3c] INFO: (W3C skos-reference) Found: `W3C skos-reference`
[relaton-w3c] INFO: (W3C responsible-use-spatial) Fetching from Relaton repository ...
[relaton-w3c] INFO: (W3C responsible-use-spatial) Found: `W3C responsible-use-spatial`
[relaton-w3c] INFO: (W3C rdf-concepts) Fetching from Relaton repository ...
[relaton-w3c] INFO: (W3C rdf-concepts) Found: `W3C rdf-concepts`
[relaton-w3c] INFO: (W3C owl-time) Fetching from Relaton repository ...
[relaton-w3c] INFO: (W3C owl-time) Found: `W3C owl-time`
[relaton-w3c] INFO: (W3C webxr) Fetching from Relaton repository ...
[relaton-w3c] INFO: (W3C webxr) Found: `W3C webxr`
[relaton-w3c] INFO: (W3C vc-data-model) Fetching from Relaton repository ...
[relaton-w3c] INFO: (W3C vc-data-model) Found: `W3C vc-data-model`
[relaton-ietf] INFO: (IETF RFC 6280) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 6280) Found: `RFC 6280`
[relaton-ietf] INFO: (IETF RFC 9518) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 9518) Found: `RFC 9518`
[relaton-ietf] INFO: (IETF RFC 9114) Fetching from Relaton repository ...
[relaton-ietf] INFO: (IETF RFC 9114) Found: `RFC 9114`
[relaton-doi] INFO: (doi:10.1111/ips.12026_1) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1111/ips.12026_1) Found: `10.1111/ips.12026_1`
[relaton-doi] INFO: (doi:10.1145/3425898.3426958) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1145/3425898.3426958) Found: `10.1145/3425898.3426958`
[relaton-doi] INFO: (doi:10.1111/psj.12212) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1111/psj.12212) Found: `10.1111/psj.12212`
[relaton-doi] INFO: (doi:10.1177/26339137231222481) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1177/26339137231222481) Found: `10.1177/26339137231222481`
[relaton-doi] INFO: (doi:10.1007/978-3-031-01584-7) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1007/978-3-031-01584-7) Found: `10.1007/978-3-031-01584-7`
[relaton-doi] INFO: (doi:10.1080/19460171.2014.957056) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1080/19460171.2014.957056) Found: `10.1080/19460171.2014.957056`
[relaton-doi] INFO: (doi:10.1038/s41893-021-00707-5) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1038/s41893-021-00707-5) Found: `10.1038/s41893-021-00707-5`
[relaton-doi] INFO: (doi:10.1111/j.1467-8306.2004.09402005.x) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1111/j.1467-8306.2004.09402005.x) Found: `10.1111/j.1467-8306.2004.09402005.x`
[relaton-doi] INFO: (doi:10.1257/aer.100.3.641) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1257/aer.100.3.641) Found: `10.1257/aer.100.3.641`
[relaton-nist] INFO: (NIST SP 1270) Fetching from csrc.nist.gov ...
[relaton-nist] INFO: (NIST SP 1270) Fetching from Relaton repository ...
[relaton-nist] INFO: (NIST SP 1270) Found: `NIST SP 1270`
[relaton-doi] INFO: (doi:10.1111/j.1758-5899.2011.00156.x) Fetching from search.crossref.org ...
[relaton-doi] INFO: (doi:10.1111/j.1758-5899.2011.00156.x) Found: `10.1111/j.1758-5899.2011.00156.x`
```

i will still monitor these issues, but this bibliography is quite large. i did notice a speed up when i work locally. i am not sure if it was in this area (fetching of entries) but the speed up is noticeable.

thanks to you and the other developers supporting these really functional tools!